@font-face {
    font-family: SansSerif;
}
*{
    font-family: SansSerif;
}
h1 {
    background-color: lightpink;
    text-align: center;
    text-transform: uppercase;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.img{
    margin:auto;
    height: 300px;
    max-width: 100%;
    width: auto;

}
.img_b1{
    margin:auto;
    height: 300px;
    max-width: 33%;
    opacity: 20%;
}
.img_b2{
    margin:auto;
    height: 300px;
    max-width: 33%;
    opacity: 60%;
}
.img_b3{
    margin:auto;
    height: 300px;
    max-width: 33%;
}